.FeatureItem {

	&-Image {
		display: none;

		@include min-screen(1025px) {
			display: inline-block;
		}

		&.with-image {
			width: 88px;
			height: 88px;
			position: absolute;
			top: 40px;

			@include min-screen(1025px) {
				display: block;
			}
		}

		img {
			border-radius: 50%;
			width: 88px;
			height: 88px;
		}
	}

	&-Content {
		color: #FFFFFF;

		margin: 0px;

		&.with-image {
			display: block;
			padding: 0;
			// margin: 0 0 0 112px;
			width: auto;
			max-width: 100%;

			@include min-screen(1025px) {
				margin: 0 0 0 112px;
			}
		}

		&.without-image {
			margin: 0;
		}

		&-Tag {
			font-size: 13px;
			@include Kievit-Medium;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		&-Title {
			@include Milo-Light;
			font-size: 30px;
			line-height: 1em;
			margin: .75em 0;
			font-weight: normal;
		}

		&-Desc {
			@include Kievit-Book;
			font-size: 15.5px;
			line-height: 1.5em;
			letter-spacing: .01em;
		}

		&-Date {
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin-bottom: 1.5em;
		}

		&-Author {
			&-Name {
				display: block;
				font-size: 17px;
				font-weight: normal;
				margin: 0 0 0.3em 0;
				line-height: normal;
			}
			&-Title {
				display: block;
				font-size: 14px;
				line-height: normal;
				margin: 0;
			}
		}
	}
}
