$BANNER_SMALL_SCREEN: 425px;
$BANNER_LARGE_SCREEN: 1025px;
$BANNER_XLARGE_SCREEN: 1120px;

.FundraisingBanner {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;

  * {
    margin-top: 0;
    margin-bottom: 0;
  }

  // css transition to reveal fundraising banner
  &.show {
    max-height: 300px;
    display: block; // Fix for Previous StaffPicks App
    visibility: visible;
    @include transition(max-height .75s linear);
  }

  &-wrapper {
    position: relative;
    display: block;
    height: 200px;

    @include min-screen($TABLET_PORTRAIT_BP) {
      max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
      margin: 0 20px;
      height: 205px;
    }

    @include min-screen($BANNER_LARGE_SCREEN) {
      margin: 0 auto;
    }

    & > a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-imageWrapper {
    display: none;
    line-height: 0;

    @include min-screen($TABLET_PORTRAIT_BP) {
      display: inline-block;
      width: 250px;
      position: absolute;
      bottom: -4px;
    }
    img {
      max-width: 100%;
    }
  }

  &-headline,
  &-description {
    display: block;
    color: #FFF;
    text-shadow: 2px 2px 5px rgba(100, 100, 100, 0.75);

    @include min-screen($TABLET_PORTRAIT_BP) {
      display: inline-block;
      position: absolute;
    }
  }

  &-headline {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 32px 0 0;
    line-height: normal;

    @include min-screen($BANNER_SMALL_SCREEN) {
      padding-top: 30px;
      font-size: 28px;
    }

    @include min-screen($TABLET_PORTRAIT_BP) {
      width: 75%;
      text-align: left;
      padding: 0;
      font-size: 32px;
      top: 20%;
      left: 200px;
      transform: translate(0, -20%);
    }

    @include min-screen($BANNER_LARGE_SCREEN) {
      width: 63%;
      top: 25%;
      left: 210px;
      transform: translate(0, -25%);
      font-size: 42px;
    }

    @include min-screen($BANNER_XLARGE_SCREEN) {
      width: 66%;
      top: 35%;
      left: 55%;
      transform: translate(-55%, -35%);
    }
  }

  &-description {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 5px 5px 10px 5px;
    line-height: normal;

    @include min-screen($BANNER_SMALL_SCREEN) {
      font-size: 22px;
    }

    @include min-screen($TABLET_PORTRAIT_BP) {
      width: 75%;
      text-align: left;
      padding: 0;
      font-size: 24px;
      top: 49%;
      left: 200px;
      transform: translate(0, -49%);
    }

    @include min-screen($BANNER_LARGE_SCREEN) {
      width: 63%;
      font-size: 30px;
      top: 65%;
      left: 210px;
      transform: translate(0, -65%);
    }

    @include min-screen($BANNER_XLARGE_SCREEN) {
      width: 66%;
      top: 78%;
      left: 55%;
      transform: translate(-55%, -78%);
    }
  }

  &-button {
    line-height: normal;
    color: #FFF;
    @include Kievit-Bold;
    background-color: $libraryRed;
    padding: 10px 20px;
    text-transform: uppercase;
    @include border-radius(6px);
    border: 3px solid #FFF;
    font-size: 18px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);

    @include min-screen($BANNER_SMALL_SCREEN) {
      padding: 15px 30px;
      font-size: 22px;
    }

    @include min-screen($BANNER_LARGE_SCREEN) {
      left: 98%;
      bottom: 50%;
      transform: translate(-98%, 50%);
    }
  }

  &-closeButton {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: $nypl-teal;
    color: #FFF;
    border: none;
    font-size: 12px;
    padding: 5px 7px !important;
    line-height: normal;
    @include transition(unset);
    @include border-radius(0px);

    &:hover {
      background-color: $nypl-teal;
      border: none;
      color: #FFF;
    }
  }
}
