.FundraisingBanner {
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 1s linear);

  * {
    margin-top: 0;
    margin-bottom: 0;
  }
  // css transition to reveal fundraising banner
  &.show {
    max-height: 300px;
  }

  &-wrapper {
    position: relative;
    display: block;
    height: 200px;

    @include min-screen(769px) {
      max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
      margin: 0 20px;
      height: 205px;
    }

    @include min-screen(1025px) {
      margin: 0 auto;
    }

    & > a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-imageWrapper {
    display: none;
    @include min-screen(769px) {
      display: inline-block;
      width: 250px;
      position: absolute;
      bottom: -4px;
    }
    img {
      max-width: 100%;
    }
  }

  &-headline,
  &-description {
    display: block;
    color: #FFF;
    @include min-screen(769px) {
      display: inline-block;
      position: absolute;
    }
  }

  &-headline {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 32px 0 0;

    @include min-screen(425px) {
      padding-top: 30px;
      font-size: 28px;
    }

    @include min-screen(769px) {
      text-align: left;
      padding: 0;
      font-size: 32px;
      top: 30%;
      left: 200px;
      transform: translate(0, -30%);
    }

    @include min-screen(1025px) {
      top: 40%;
      transform: translate(0, -40%);
      font-size: 42px;
    }

    @include min-screen(1120px) {
      left: 45%;
      transform: translate(-45%, -65%);
    }
  }

  &-description {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 5px 5px 10px 5px;

    @include min-screen(425px) {
      font-size: 22px;
    }

    @include min-screen(769px) {
      text-align: left;
      padding: 0;
      font-size: 24px;
      top: 50%;
      left: 200px;
      transform: translate(0, -50%);
    }

    @include min-screen(1025px) {
      font-size: 30px;
      top: 65%;
      left: 210px;
      transform: translate(0, -65%);
    }

    @include min-screen(1120px) {
      left: 45%;
      transform: translate(-45%, -65%);
    }
  }

  &-button {
    color: #FFF;
    @include Kievit-Bold;
    background-color: $libraryRed;
    padding: 10px 20px;
    text-transform: uppercase;
    @include border-radius(6px);
    border: 3px solid #FFF;
    font-size: 18px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);

    @include min-screen(425px) {
      padding: 15px 30px;
      font-size: 22px;
    }

    @include min-screen(1025px) {
      left: 98%;
      bottom: 50%;
      transform: translate(-98%, 50%);
    }
  }

  &-closeButton {
    position: absolute;
    top: 2%;
    right: 2%;
  }
}
