&-globalAlerts {
  position: relative;
  border-bottom: 1px solid #908034;

  /* No red bottom-border on tablet and up */
  @include min-screen(769px) {
    border-bottom: none;
  }

  &.hide {
    display: none;
  }

  &-box {
    position: relative;
    margin: .5em 1.2em .5em 1.2em;

    @include min-screen(769px) {
      margin-right: 20px;
    }

    @include min-screen(1025px) {
      max-width: 1280px;
      margin: auto;
    }

    &-item {
      font-size: 16px;
      margin: .5em 0;
      line-height: 1.2em;

      p {
        display: block;
        line-height: 1.2em;
        font-size: 16px;
        max-width: 100% !important;
      }

      a {
        text-decoration: underline;
        color: #333;

        &:visited, &:active {
          color: #333;
        }
      }

      strong {
        @include System-Bold;
        font-weight: normal;
      }

      * {
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
