&-searchForm {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #1B7FA7;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &-desktopControls {
    color: white;
    font-size: 20px;
    margin: 0 40px 20px;

    > div {
      margin-bottom: 12px;
      
      @include min-screen(600px) {
        display: inline-block;
        margin-right: 20px;;
      }
    }
    
    input {
      margin-right: 8px;
    }

    @include min-screen(600px) {
      margin: 0 20px 20px;
    }
  }

  &-inputBox {
    margin: 20px 15px;
    display: block;
    overflow: hidden;
    position: relative;

    label {
      color: #FFF;
      display: inline-block;
      font-size: 22px;
      margin: 0 0 10px 0;
      padding: 0 !important;
      line-height: normal;
    }
    & > div {
      display: flex;
      gap: 10px;
    }

    & > div > input {
      height: 66px;
      padding: 0 0 0 25px;
      flex: 1;
      font-size: 18px;
      font-style: normal;
      line-height: normal !important;
      @include System-Light;

      &::placeholder {
        font-size: 17px;
      }
    }

    button {
      -webkit-border-radius: 50% !important;
      border-radius: 50% !important;
      background-clip: padding-box;
      background-color: transparent;
      background: transparent;
      border: 2px solid #FFF;
      height: 72px;
      line-height: normal;
      padding: 18px;
      margin: 0 10px 0 0;
      width: 72px;
    }
  }

	&-mobileControls {
    border-top-style: solid;
    border-color: rgba(102, 102, 102, 0.21);
    border-width: 1px;

    button {
      border: none;
      background-color: transparent;
      color: #FFF;
      padding: 20px 0px;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      line-height: normal;
      width: 50%;

      &:first-child {
        border-color: rgba(102, 102, 102, 0.21);
        border-right-style: solid;
        border-width: 1px;
      }
    }

    .label {
      display: inline-block;
      margin: 0 20px 0 0;
      vertical-align: middle;
      font-size: 16px;
      @include System-Book;
    }

    .icon {
      display: inline-block;
      color: #78CCED;
      font-size: 30px;
      vertical-align: middle;
      line-height: normal;
    }

    svg {
      vertical-align: middle;
      fill: #78CCED;
      height: 30px;
      width: 30px;
    }
  }
}
