&-searchForm {
	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}

	&-inputBox {
		margin: 20px 15px;
		display: block;
		overflow: hidden;
		position: relative;

		& > input {
			width: 100%;
			height: 66px;
			padding: 0 0 0 25px;
			font-size: 18px;
			font-style: normal;
			line-height: normal !important;
			@include Kievit-Light;
		}

		.icon {
			color: #1da1d4;
			display: inline-block;
			font-size: 20px;
			left: 2px;
			padding: 0;
			position: absolute;
			top: 23px;
		}
	}

	&-mobileControls {
		border-top-style: solid;
		border-color: rgba(102, 102, 102, 0.21);
		border-width: 1px;

		button {
			border: none;
			background-color: transparent;
			color: #FFF;
			padding: 20px 0px;
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
			line-height: normal;
			width: 50%;

			&:first-child {
				border-color: rgba(102, 102, 102, 0.21);
				border-right-style: solid;
				border-width: 1px;
			}
		}

		.label {
			display: inline-block;
			margin: 0 20px 0 0;
			vertical-align: middle;
			font-size: 16px;
			@include Kievit-Book;
		}

		.icon {
			display: inline-block;
			color: #78CCED;
			font-size: 30px;
			vertical-align: middle;
			line-height: normal;
		}
	}
}
