.NavMenuItem {
  &.stickyLogin {
    display: none;

    &.active {
      display: inline-table;
    }
  }
}

.MyNyplButton,
.StickyMyNyplButton {
  @include Kievit-Bold;
  @include border-radius(0px);
  font-size: 13px;
  color: #000;
  display: block;
  letter-spacing: .04em;
  background-color: #FFF;

  &.loggedIn {
    color: #000;
  }

  &.active {
    background-color: #135772;
    color: #FFF;
    @include transition(background-color .2s linear 0s, color .2s linear 0s);

    &:visited {
      color: #FFF;
    }
  }

  &:visited {
    color: #000;
  }

  .icon {
    @include opacity(0.8);
  }
}

.MyNypl-Wrapper,
.StickyMyNypl-Wrapper {
  text-transform: none;
  display: none;
  box-sizing: content-box;
  min-height: 180px;

  &.loggedInHeight {
    min-height: 250px;
  }

  &.active {
    display: block;
  }

  .MyNypl {
    &-Links {
      color: #fff;
    }

    &-Eyebrow {
      border-top: 2px solid #FFF;
      color: #fff;
      margin-bottom: 10px;
      width: 25px;
    }
    &-Title {
      color: #fff;
      font-size: 20px;
      @include Kievit-Book;
      font-weight: normal;
      line-height: 1.2em;
    }
    &-Patron-Greeting {
      color: #fff;
      @include Kievit-Book;
      font-weight: normal;
      letter-spacing: .03em;
      line-height: 1.2em;
      margin: 0;
      text-align: left;

      &.Login-Indication {
        margin: 0 0 6px 0;
      }
    }
    &-Login-List {
      text-align: left;
      list-style: none;
      padding: 0px;
      margin: 0px;

      li {
        a {
          border-radius: 28px;
          box-sizing: content-box;
        }
      }
    }

    &-Catalog-Btn {
      min-width: 170px;
    }

    &-Research-Btn {
      min-width: 265px;
    }

    .icon {
      font-size: 25px;
      color: rgba(255, 255, 255, 0.6);
      vertical-align: middle;
      margin-right: 5px;
    }

    .logoutIcon {
      fill: #1B7FA7;
      margin: 0 10px 0 0;
      vertical-align: -11px;
    }
  }
}

.MobileMyNypl-Wrapper {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;

  &.active {
    display: block;

    @include min-screen(769px) {
      display: none;
    }
  }
}

.LoginIcon {
  fill: #FFF;
  stroke: #000;
  stroke-width: 2px;

  &.active {
    stroke: none;
  }

  &-loggedIn {
    fill: #000;
    stroke: none;

    &.active {
      fill: #FFF;
      opacity: 1;
    }
  }
}

.MyNyplButton {
  &.LoginIcon {
    &-loggedIn {
      height: 20px;
      left: 143px;
      position: absolute;
      top: 7px;
    }
  }
  &-IconWrapper {
    margin: 0 0 0 22px;
  }
}

.MobileMyNypl {
  &-Greeting {
    box-sizing: content-box;
    color: #FFF;
    text-align: left;
    padding: 22px 0 0 11px;
    position: absolute;
    width: 100%;
    .Login-Indication {
      margin: 0 0 30px 0;
    }
  }
}

.Login-Indication {
  font-style: italic;
}
