$libraryRed: #E32B31 !default;
$libraryBlue: #1B7FA7 !default;
$BG_MENU_SEARCH: #1B7FA7;
$nypl-teal: #07818d;

// $BG_MENU_BROWSE_LEFT: #E73621;
// $BG_MENU_BROWSE_RIGHT: #BB1D12;
//
// $BG_MENU_ATTEND_LEFT: #72256D;
// $BG_MENU_ATTEND_RIGHT: #52174F;
//
// $BG_MENU_LEARN_LEFT: #579B34;
// $BG_MENU_LEARN_RIGHT: #437529;
//
// $BG_MENU_RESEARCH_LEFT: #00989E;
// $BG_MENU_RESEARCH_RIGHT: #047074;
//
// $BG_MENU_FINDUS_LEFT: #726958;
// $BG_MENU_FINDUS_RIGHT: #595141;
//
// $BG_MENU_GIVE_LEFT: #CF1D1E;
// $BG_MENU_GIVE_RIGHT: #9E0B0B;
//
// $BG_MENU_HELP_LEFT: #89806F;
// $BG_MENU_HELP_RIGHT: #655C4C;
// $DEFAULT_MENU_BG_COLOR: #595141;
