@import 'mixins';
//@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700');

$FONT_PATH: '//d2znry4lg8s0tq.cloudfront.net';

$SECONDARY_FONT_KIEVIT: 'Helvetica';
$THIRD_FONT_KIEVIT: 'arial';
$FOURTH_FONT_KIEVIT: 'sans-serif';

$SECONDARY_FONT_MILO: 'serif';

/* FONT DEFINITIONS
 * ---------------------------
*/
/* KIEVIT INCLUDES */
// @include font-face(Kievit-Regular, '#{$FONT_PATH}/ff_kievit_web/KievitWeb');
/* Kievit Book */
@include font-face(Kievit-Book, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Book');
/* Kievit Book Italic */
@include font-face(Kievit-Book-Italic, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-BookIta');
/* Kievit Meduim */
@include font-face(Kievit-Medium, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Medi');
/* Kievit Meduim Italic */
@include font-face(Kievit-Medium-Italic, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-MediIta');
/* Kievit Bold */
@include font-face(Kievit-Bold, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Bold');
/* Kievit Light */
// Used in the main Search Field Text only
@include font-face(Kievit-Light, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Light');
// @include font-face(Kievit-Thin, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Thin');

/* KIEVIT Small Caps */
//@include font-face(Kievit-SC, '#{$FONT_PATH}/ff_kievit_web/KievitScWeb');

/* MILO INCLUDES */
/* Milo Slab Light */
@include font-face(Milo-Light, '#{$FONT_PATH}/milo-web/milo-slab-pro-light/MiloSlabWebPro-Light');
/* Milo Slab Light Italic */
@include font-face(Milo-Light-Italic, '#{$FONT_PATH}/milo-web/milo-slab-pro-light-italic/MiloSlabWebPro-LightItalic');
/* Milo Slab Regular */
@include font-face(Milo-Regular, '#{$FONT_PATH}/milo-web/milo-slab-pro-regular/MiloSlabWebPro');
/* Milo Slab Regular Italic */
@include font-face(Milo-Regular-Italic, '#{$FONT_PATH}/milo-web/milo-slab-pro-regular-italic/MiloSlabWebPro-Italic');
/* Milo Slab Medium  */
@include font-face(Milo-Medium, '#{$FONT_PATH}/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium');

/* KIEVIT MIXINS */
// Map all the instances of Kievit-Regular to Kievit-Book... please.
// @mixin Kievit-Regular {
//   font-family: 'Kievit-Regular', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
// }
// FOR REFERENCE SEE THIS URL:http://nypl.github.io/dgx-styleguide/kievit.html
@mixin Kievit-Book {
  font-family: 'Kievit-Book', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Book-Italic {
  font-family: 'Kievit-Book-Italic', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Medium {
  font-family: 'Kievit-Medium', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Bold {
  font-family: 'Kievit-Bold', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}


@mixin Kievit-Light {
  font-family: 'Kievit-Light', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

//@mixin Kievit-Thin {
//  font-family: 'Kievit-Thin', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
//}

//@mixin Kievit-SC {
//  font-family: 'Kievit-SC', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
//}

/* MILO MIXINS */
// FOR REFERENCE SEE THIS URL: http://nypl.github.io/dgx-styleguide/milo.html
@mixin Milo-Light {
	font-family: 'Milo-Light', $SECONDARY_FONT_MILO;
}

@mixin Milo-Light-Italic {
	font-family: 'Milo-Light-Italic', $SECONDARY_FONT_MILO;
}

@mixin Milo-Regular {
	font-family: 'Milo-Regular', $SECONDARY_FONT_MILO;
}

@mixin Milo-Regular-Italic {
	font-family: 'Milo-Regular-Italic', $SECONDARY_FONT_MILO;
}

@mixin Milo-Medium {
	font-family: 'Milo-Medium', $SECONDARY_FONT_MILO;
}

/* NYPL ICON FONT RULES */
@font-face {
  font-family: 'nypl-moon';
  src:url('#{$FONT_PATH}/nypl-moon/nypl-moon.eot?viik85');
  src:url('#{$FONT_PATH}/nypl-moon/nypl-moon.eot?viik85#iefix') format('embedded-opentype'),
    url('#{$FONT_PATH}/nypl-moon/nypl-moon.woff2?viik85') format('woff2'),
    url('#{$FONT_PATH}/nypl-moon/nypl-moon.ttf?viik85') format('truetype'),
    url('#{$FONT_PATH}/nypl-moon/nypl-moon.woff?viik85') format('woff'),
    url('#{$FONT_PATH}/nypl-moon/nypl-moon.svg?viik85#nypl-moon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nypl-icon-"], [class*=" nypl-icon-"] {
  font-family: 'nypl-moon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nypl-icon-arrow-meganav-large:before {
  content: "\e801";
}
.nypl-icon-arrow-meganav:before {
  content: "\e800";
}
.nypl-icon-card:before {
  content: "\e623";
}
.nypl-icon-book:before {
  content: "\e624";
}
.nypl-icon-play-large:before {
  content: "\e625";
}
.nypl-icon-play-med:before {
  content: "\e626";
}
.nypl-icon-play-small:before {
  content: "\e603";
}
.nypl-icon-headphones:before {
  content: "\e627";
}
.nypl-icon-solo-x:before {
  content: "\e611";
}
.nypl-icon-mail:before {
  content: "\e61c";
}
.nypl-icon-login:before {
  content: "\e61d";
}
.nypl-icon-logo-mark:before {
  content: "\e61e";
}
.nypl-icon-logo-type:before {
  content: "\e61f";
}
.nypl-icon-locator-no-dot:before {
  content: "\e620";
}
.nypl-icon-locator-small:before {
  content: "\e616";
}
.nypl-icon-locator-large:before {
  content: "\e615";
}
.nypl-icon-burger-nav:before {
  content: "\e614";
}
.nypl-icon-wedge-right:before {
  content: "\e621";
}
.nypl-icon-wedge-left:before {
  content: "\e622";
}
.nypl-icon-wedge-down:before {
  content: "\e600";
}
.nypl-icon-wedge-up:before {
  content: "\e601";
}
.nypl-icon-magnifier-thin:before {
  content: "\e617";
}
.nypl-icon-magnifier-fat:before {
  content: "\e609";
}
.nypl-icon-magnifier-circle:before {
  content: "\e602";
}
.nypl-icon-facebook-circle:before {
  content: "\e62e";
}
.nypl-icon-facebook-circle-large:before {
  content: "\e62c";
}
.nypl-icon-facebook-circle-hover:before {
  content: "\e630";
}
.nypl-icon-twitter-circle:before {
  content: "\e62f";
}
.nypl-icon-twitter-circle-large:before {
  content: "\e62d";
}
.nypl-icon-twitter-circle-hover:before {
  content: "\e631";
}
.nypl-icon-facebook:before {
  content: "\e604";
}
.nypl-icon-twitter:before {
  content: "\e605";
}
.nypl-icon-tumblr:before {
  content: "\e606";
}
.nypl-icon-instagram:before {
  content: "\e618";
}
.nypl-icon-soundcloud:before {
  content: "\e619";
}
.nypl-icon-itunes:before {
  content: "\e61a";
}
.nypl-icon-youtube:before {
  content: "\e61b";
}
.nypl-icon-bldg:before {
  content: "\e607";
}
.nypl-icon-equals-small:before {
  content: "\e608";
}
.nypl-icon-arrow-up:before {
  content: "\e60a";
}
.nypl-icon-arrow-down:before {
  content: "\e629";
}
.nypl-icon-arrow-left:before {
  content: "\e62a";
}
.nypl-icon-arrow-right:before {
  content: "\e62b";
}
.nypl-icon-circle-arrow-left:before {
  content: "\e60b";
}
.nypl-icon-circle-arrow-right:before {
  content: "\e60c";
}
.nypl-icon-circle-wedge-left:before {
  content: "\e60d";
}
.nypl-icon-circle-wedge-right:before {
  content: "\e60e";
}
.nypl-icon-circle-more:before {
  content: "\e60f";
}
.nypl-icon-more-dots:before {
  content: "\e610";
}
.nypl-icon-circle-x:before {
  content: "\e612";
}
.nypl-icon-circle-check:before {
  content: "\e613";
}
.nypl-icon-check-solo:before {
  content: "\e628";
}
